* {
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.inputVal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}
.inputVal input{
  border: 1px solid rgba(128, 128, 128, 0.575);
  border-radius: 3px;
  padding: 5px 7px;
}

.calcBtn button{
  padding: 7px 15px;
  border-radius: 4px;
  color: white;
}
#citric{
  background-color: rgba(14, 14, 204, 0.877);
}
#lactic{
  background-color: rgba(185, 21, 21, 0.863);
}
